body {
    display: flex;
    justify-content: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;    
    border: 5px solid black;
    width: 40vw;
    height: 40vw;
    min-width: 500px;
    min-height: 500px;
}

.cell {
    border: 1px solid black;
    flex: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
}

button {
    font-size: 20px;
    border-radius: 40%;
}

.newCells {
    border: 1px solid black;
    box-sizing: border-box;
}
