body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-wrap: wrap;    
    border: 5px solid black;
    width: 40vw;
    height: 40vw;
    min-width: 500px;
    min-height: 500px;
}

.cell {
    border: 1px solid black;
    flex: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
}

button {
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: navy;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid black;
    margin-bottom: 10px;
    cursor: pointer;
}

.newCells {
    border: 1px solid black;
    box-sizing: border-box;
}
